// Тут будуть змінні у форматі SASS
// Приклад оголошення: $defaultPadding: 20px

// * breakpoints
$mobileBreakpoint: 480px;
$tabletBreakpoint: 768px;
$desktopBreakpoint: 1280px;

// * container padding
$containerPaddingDefault: 40px;
$containerPaddingBig: 80px;
$containerPaddingSmall: 16px;

:root {

  /* колір текста основний  #FFFFF*/
  /* колір текста вторинний #8D9289*/
  /* колір текста акцентний #212121 */
  --primary-text-color:#ffffff;
  --secondary-text-color:#8D9289;
  --accent-text-color:#86E543;

  
  /* колір фона основний  */
    --background-color:  #01383A;
  
}
