.blog {
  color: $primaryTextColor;
}

.page-name {
  @include font(500, 24px, 1.16);
  margin-bottom: 31px;

  @include media-tablet {
    @include font(500, 56px, 1.2);
    margin-left: 60px;
    margin-bottom: 67px;
  }
  @include media-desktop {
    @include font(500, 56px, 1.2);
    margin-left: 100px;
    margin-bottom: 75px;
  }
}

.blog-item {
  margin-bottom: 24px;
  @include media-tablet {
    margin-bottom: 40px;
  }
  @include media-desktop {
    display: flex;
    gap: 120px;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
  }
}

.blog-title {
  @include font(500, 24px, 1.16);
  // ця тінь є в таких же заголовках для інших секцій
  // Gotha винести в окрему змінну
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;

  @include media-tablet {
    @include font(500, 56px, 1);
  }

  @include media-desktop {
    @include font(500, 56px, 1);
    margin-bottom: 52px;
  }
}

.blog-container-tablet {
  margin-bottom: 0px;
  @include media-tablet {
    display: flex;
    align-items: flex-end;
    gap: 40px;
    margin-bottom: 16px;
  }
}

.blog-picture {
  display: block;
  margin-bottom: 8px;

  @include media-desktop {
    display: none;
  }
}

.blog-picture-desktop {
  display: none;
  @include media-desktop {
    display: block;
    width: 100%;
  }
}

.blog-content {
  @include media-tablet {
    display: block;
    width: 248px;
  }
  @include media-desktop {
    display: flex;
    justify-content: space-between;
    gap: 96px;
    width: 100%;
    margin-bottom: 20px;
  }
}
.blog-writer {
  display: block;
  @include font(500, 16px, 1.16);
  margin-bottom: 8px;

  @include media-tablet {
    @include font(500, 24px, 1);
    margin-bottom: 32px;
  }
  @include media-desktop {
    @include font(500, 24px, 1);
    margin-bottom: 0px;
  }
}
.blog-updated {
  display: block;
  @include font(500, 16px, 1.16);
  margin-bottom: 8px;
  color: $secondaryTextColor;

  @include media-tablet {
    @include font(500, 24px, 1);
    margin-bottom: 0px;
  }
  @include media-desktop {
    @include font(500, 24px, 1);
    margin-bottom: 0px;
  }
}

.blog-text {
  display: inline-block;

  @include font(400, 16px, 1.187);
  margin-bottom: 8px;
  @include media-tablet {
    @include font(400, 24px, 1.16);
    margin-bottom: 16px;
  }
  @include media-desktop {
    @include font(400, 24px, 1.16);
    margin-bottom: 20px;
    width: 693px;
  }
}

.blog-etg {
  display: block;
  text-align: right;
  @include font(500, 16px, 1);
  color: $accentTextColor;

  @include media-tablet {
    @include font(500, 24px, 1);
  }
  @include media-desktop {
    @include font(500, 24px, 1);
  }
}
