.page-name-article {
    color: white;
    
@media screen and (max-width:480px) {
    margin-top: 40px;
    @include font(500, 24px, 1.16);

}
    @include media-mobile{
    @include font(500, 24px, 1.16);
    margin-top: 40px;

    }

    @include media-tablet {
        @include font(500, 56px, 1.2);
        margin-left: 60px;
        margin-bottom: 67px;
    }

    @include media-desktop {
        @include font(500, 56px, 1.2);
        margin-left: 100px;
        margin-bottom: 75px;
    }
}
.article-picture {
    margin-top: 31px;
}

.blog-writer-article {
    color: white;
    display: block;
    @include font(500, 16px, 1.16);
    margin-top:20px;

    @include media-tablet {
        @include font(500, 24px, 1);
        // margin-bottom: 32px;
    }

    @include media-desktop {
        @include font(500, 24px, 1);
        // margin-bottom: 0px;
    }
}
.blog-updated-article {
    color: white;
    display: block;
    @include font(400, 16px, 1.16);
    margin-top: 8px;
     margin-bottom: 8px;
    color: $secondaryTextColor;

    @include media-tablet {
        @include font(500, 24px, 1);
        // margin-bottom: 0px;
    }

    @include media-desktop {
        @include font(500, 24px, 1);
        margin-bottom: 0px;
    }
}
.blog-text-article{
margin: auto;
padding: 0 16px;
color: white;
display: inline-block;

@include media-mobile{
    @include font(400, 16px, 1.187);
    margin-top: 8px;
    margin-bottom: 48px;
}
    @include media-tablet {
        @include font(400, 24px, 1.16);
        margin-bottom: 16px;
    }

    @include media-desktop {
        @include font(400, 24px, 1.16);
        margin-bottom: 20px;
        width: 693px;
    }
}
ol{
    padding: 0 20px;
    margin: 0px;
}