// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p {
//     margin: 0;
// }

// ul,
// ol {
//     margin: 0;
//     padding-left: 0;
// }

// img {
//   display: block;
//   min-width: 100%;
//   height: auto;
// }

body {
  font-family: 'Roboto', sans-serif;
  // background-image: url(../images/take-order/bg_mob.jpg);
  border: 0;
  margin: 0;

  @media screen and (min-width: 768px) {
    // background-image: url(../images/take-order/bg_tab.jpg);
  }

  @media screen and (min-width: 1280px) {
    // background-image: url(../images/take-order/bg_desktop.jpg);
  }
}

// .list {
//     padding: 0;
//     margin: 0;
//     list-style: none;
// }

// .link {
//     text-decoration: none;
//     color: var(--main-color);
// }

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 40px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

.to__main {
  padding-top: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 120px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 120px;
  }
}

.to__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    margin-left: 83px;
    font-size: 56px;
    line-height: 1.18;
  }
}

/* Линии на бордере */

.to__line {
  margin-bottom: 24px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 56px;
  }
}

.to__line_first {
  margin-bottom: -5px;
}

.to__line_first,
.to__line_second {
  display: flex;
  flex-wrap: nowrap;
}

.to__line-one {
  width: 40%;
  height: 8px;
  border-bottom: 1px solid #7be34a;
  border-right: 1px solid #7be34a;
  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);

  @media screen and (min-width: 768px) {
    width: 53%;
  }

  @media screen and (min-width: 1280px) {
    width: 30%;
  }
}

.to__line-two {
  width: 60%;
  height: 8px;
  border-top: 1px solid #7be34a;
  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);

  @media screen and (min-width: 768px) {
    width: 47%;
  }

  @media screen and (min-width: 1280px) {
    width: 70%;
  }
}

.to__line-three {
  width: 41%;
  height: 7px;
  border-bottom: 1px solid #28780d;
  border-right: 1px solid #28780d;
  box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);

  @media screen and (min-width: 768px) {
    width: calc(53% + 3px);
  }

  @media screen and (min-width: 1280px) {
    width: calc(30% + 3px);
  }
}

.to__line-four {
  width: 59%;
  height: 7px;
  border-top: 1px solid #28780d;
  box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);

  @media screen and (min-width: 768px) {
    width: calc(47% - 3px);
  }

  @media screen and (min-width: 1280px) {
    width: calc(70% - 3px);
  }
}
/* Конец линиям */

@media screen and (min-width: 1280px) {
  .to__product_info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.to__name {
  display: block;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.19;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
    font-size: 56px;
    line-height: 1.18;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.product {
  @media screen and (min-width: 768px) {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 0;
  }
}

.to__image_main {
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    width: 387px;
    height: 346px;
  }

  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.to__img-main {
  width: 288px;
  height: 254px;
  border-radius: 12px;

  @media screen and (min-width: 768px) {
    min-width: 387px;
    min-height: 346px;
  }
}

.to__price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    display: block;
    padding-left: 40px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    align-items: center;
    margin-bottom: 40px;
  }
}

.to__sale-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  text-decoration-line: line-through;
  color: #8d9289;

  @media screen and (min-width: 768px) {
    margin-bottom: 46px;
    font-size: 24px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 0;
    font-size: 24px;
    margin-right: 40px;
  }
}

.to__discount-price {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  color: #86e543;

  @media screen and (min-width: 768px) {
    font-size: 48px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 48px;
    margin-right: 320px;
  }
}

.to__images-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  height: 62px;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    height: 160px;
    margin-bottom: 48px;
    gap: 24px;
  }
}

.to__image-img {
  height: 62px;
  width: 60px;
  border-radius: 6px;

  @media screen and (min-width: 768px) {
    height: 160px;
    width: 154px;
  }
}

.to__contact {
  width: 100%;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @media screen and (min-width: 1280px) {
    display: block;
  }
}

.to__contact-title {
  width: 100%;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  color: #86e543;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-size: 36px;
    padding-left: 49px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 0;
  }
}

.to__form {
  display: block;
  width: 100%;
}

input:invalid {
  border-color: red;
}

input,
input:valid {
  border-color: #86e543;
}

.to__form-full {
  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
  }
}

.to__form-field {
  position: relative;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    width: 590px;
  }
}

.to__form-input {
  display: block;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #86e543;
  background-color: transparent;
  width: 100%;
  height: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.1;
  }
}

.to__form-input::placeholder {
  color: #ffffff;
}

.to__form-input:focus {
  outline: inherit;
}

// Новый селектор для выбора

.select-box {
  display: flex;
  flex-direction: column;
}

.select-box .options-container {
  background: #01383a;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  overflow: hidden;
  order: 1;
}

.selected {
  background: #01383a;
  width: 100%;
  height: 24px;
  margin-bottom: 40px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  position: relative;
  order: 0;
  border-bottom: 1px solid #86e543;

  @media screen and (min-width: 768px) {
    width: 590px;
    font-size: 18px;
    line-height: 1.1;
  }
}

.selected::after {
  content: '';
  background: url('/src/images/take-order/polygon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 18px;
  height: 13px;
  right: 10px;
  top: 5px;
  transition: all 0.4s;
}

.select-box .options-container.active + .selected {
  margin-bottom: 0;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
  border-bottom: 1px solid #86e543;
}

.select-box .options-container.active + .selected::after {
  // transform-origin: bottom center;
  transform: rotateX(180deg);
}

.select-box .options-container::-webkit-scrollbar {
  width: 1px;
  background: #01383a;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #01383a;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  cursor: pointer;
}

.select-box .option:hover {
  background: #17573d;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}
// Конец нового селектора

.comment {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: capitalize;
  background-color: transparent;
  color: #ffffff;

  @media screen and (min-width: 1280px) {
    margin-left: 20px;
  }
}

.to__form-textarea {
  padding: 0;
  width: 100%;
  height: 95px;
  margin-bottom: 24px;
  border: 1px solid #86e543;
  background-color: transparent;
  border-radius: 0px;

  @media screen and (min-width: 768px) {
    height: 256px;
  }

  @media screen and (min-width: 1280px) {
    width: 589px;
    margin-bottom: 48px;
    margin-left: 20px;
  }
}

.to__form-btn-grp {
  @media screen and (min-width: 1280px) {
    display: flex;
    margin-bottom: 120px;
    justify-content: center;
    gap: 20px;
  }
}

.to__form-btn {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #86e543;
  border-radius: 16px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1280px) {
    margin: 0;
  }
}

.to__form-btn-buy {
  margin-bottom: 16px;
  color: #01383a;
  background: #86e543;
  padding: 16px 42px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    padding: 16px 64px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 0;
    padding: 16px 64px;
  }
}

.to__form-btn-buy:hover,
.to__form-btn-buy:focus {
  box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5),
    0px 4px 10px rgba(255, 255, 255, 0.1);
}

.to__form-btn-add {
  margin-bottom: 48px;
  background-color: transparent;
  color: #86e543;
  padding: 16px 36px;
  transition: box-shadow 100ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    padding: 16px 52px;
    margin-bottom: 120px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 0;
  }
}

.to__form-btn-add:hover,
.to__form-btn-add:focus {
  color: #01383a;
  background: #86e543;
  box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5),
    0px 4px 10px rgba(255, 255, 255, 0.1);
}
