<footer class="footer">
      <div class="footer-container">
        <h2 class="footer-logo">
        <a class="footer-logo-link" href="./index.html"
           > SHOP FOR <br />
          GAMERS
          </a>          
        </h2>
          
        </h2>
        <div class="footer-flex">
          <section>
            <ul class="footer-list">
              <li class="footer-item">
                <a class="footer-list-link" href="">Accessories</a>
              </li>
              <li class="footer-item">
                <a class="footer-list-link" href="">Take order</a>
              </li>
              <li class="footer-item">
                <a class="footer-list-link" href="">Contact</a>
              </li>
              <li class="footer-item">
                <a class="footer-list-link" href="">Blog</a>
              </li>
            </ul>
          </section>

          <section class="footer-social">
            <ul class="footer-soc-list">
              <li class="footer-soc-item">
                <a class="footer-soc-link" href="">
                  <svg class="footer-soc-icon" width="12" height="12">
                     <use href="./images/icons.svg#icon-social-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="footer-soc-item">
                <a class="footer-soc-link" href="">
                  <svg class="footer-soc-icon" width="12" height="12">
                     <use href="./images/icons.svg#icon-social-youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="footer-soc-item">
                <a class="footer-soc-link" href="">
                  <svg class="footer-soc-icon" width="12" height="12">
                     <use href="./images/icons.svg#icon-social-facebook"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </section>
        </div>

        <section class="footer-contacts">
          <h3 class="footer-title">Email</h3>
          <ul>
            <li class="footer-meil-item">
             <a class="footer-link" href="mailto:sfg.info@gmail.com"
            >sfg.info@gmail.com</a
          >
            </li>
          </ul>
          
          <h3 class="footer-title">Phone number</h3>
          <ul>
            <li class="footer-tel-item">
              <a class="footer-link" href="tel:+38 (093) 643 22 88"
                >+38 (093) 643 22 88</a
              >
            </li class="footer-tel-item">
            <li>
              <a class="footer-link" href="tel:+38 (050) 345 44 23"
                >+38 (050) 345 44 23</a
              >
            </li>
          </ul>
        </section>
      </div>
    </footer>
