<section class="section section-hero">
  <div class="container hero-bg-easel">
    <!-- Background pictures -->

    <!-- Keyboard -->
    <div class="hero-bg-container hero-bg-keyboard-container">
      <picture>
        <source
          srcset="
            ./images/hero/keyboard.webp    1x,
            ./images/hero/keyboard@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/hero/keyboard.png    1x,
            ./images/hero/keyboard@2x.png 2x
          "
          type="image/png"
        />
        <img
          class="hero-bg-keyboard"
          src="./images/hero/keyboard.png"
          alt="Keyboard"
        />
      </picture>
    </div>

    <!-- Headphones -->
    <div class="hero-bg-container hero-bg-headphones-container">
      <picture>
        <source
          srcset="
            ./images/hero/headphones.webp    1x,
            ./images/hero/headphones@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/hero/headphones.png    1x,
            ./images/hero/headphones@2x.png 2x
          "
          type="image/png"
        />
        <img
          class="hero-bg-headphones"
          src="./images/hero/headphones.png"
          alt="Headphones"
        />
      </picture>
    </div>

    <!-- Mouse -->
    <div class="hero-bg-container hero-bg-mouse-container">
      <picture>
        <source
          srcset="./images/hero/mouse.webp 1x, ./images/hero/mouse@2x.webp 2x"
          type="image/webp"
        />
        <source
          srcset="./images/hero/mouse.png 1x, ./images/hero/mouse@2x.png 2x"
          type="image/png"
        />
        <img class="hero-bg-mouse" src="./images/hero/mouse.png" alt="Mouse" />
      </picture>
    </div>
    <div class="hero-content">
      <h1 class="hero-title">Best shop for buying gaming products</h1>

      <a class="main-button" href="./partials/accessories.html"
        >Start shopping</a
      >
    </div>
  </div>
</section>
