<section class="section glide">
  <div class="index-slider-content glide__track" data-glide-el="track">
    <ul class="index-slider-list glide__slides">
      <li class="index-slider-item glide__slide">
        <picture>
          <source
            srcset="
              ./images/index-slider/item1.webp    1x,
              ./images/index-slider/item1@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/index-slider/item1.jpg    1x,
              ./images/index-slider/item1@2x.jpg 2x
            "
            type="image/webp"
          />
          <img src="./images/index-slider/item1.jpg" alt="Ігрова клавіатура" />
        </picture>
        <span class="index-slider-text"></span>
      </li>
      <li class="index-slider-item glide__slide">
        <picture>
          <source
            srcset="
              ./images/index-slider/item2.webp    1x,
              ./images/index-slider/item2@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/index-slider/item2.jpg    1x,
              ./images/index-slider/item2@2x.jpg 2x
            "
            type="image/webp"
          />
          <img src="./images/index-slider/item2.jpg" alt="Ігрова клавіатура" />
        </picture>
        <span class="index-slider-text"></span>
      </li>
      <li class="index-slider-item glide__slide">
        <picture>
          <source
            srcset="
              ./images/index-slider/item3.webp    1x,
              ./images/index-slider/item3@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/index-slider/item3.jpg    1x,
              ./images/index-slider/item3@2x.jpg 2x
            "
            type="image/webp"
          />
          <img src="./images/index-slider/item3.jpg" alt="Ігрова клавіатура" />
        </picture>
        <span class="index-slider-text"></span>
      </li>
    </ul>
  </div>
</section>

<div class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      <li class="glide__slide">0</li>
      <li class="glide__slide">1</li>
      <li class="glide__slide">2</li>
    </ul>
  </div>
</div>
