<!-- Кнопка відкриття модального вікна з атрибутом data-modal-open на сторінці Take order та Contacts -->
<!-- <button class="" type="button" data-modal-open></button> -->

<!-- Модальне вікно (Take order) - запуск з кнопки Buy it now  -->

<div class="backdrop is-hidden" data-modal>
  <div class="modal-window take-order-1">
    <button class="modal-close-button" type="button" data-modal-close>
      <svg class="close-icon" width="40" height="40">
        <use href="../images/icons.svg#icon-modal-close-cross"></use>
      </svg>
    </button>
    <p class="modal-text take-order-1">
      Thank you for your order! We will contact you soon!
    </p>
    <a class="redirect-link" href="../accessories.html">Keep shopping</a>
  </div>
</div>

<!-- Модальне вікно (Take order) - запуск з кнопки Add to cart -->

<div class="backdrop is-hidden" data-modal>
  <div class="modal-window take-order-2">
    <button class="modal-close-button" type="button" data-modal-close>
      <svg class="close-icon" width="40" height="40">
        <use href="../images/icons.svg#icon-modal-close-cross"></use>
      </svg>
    </button>
    <p class="modal-text take-order-2">
      Excellent choice! Let's move on to the checkout!
    </p>
    <a class="redirect-link" href="../index.html">Let's go!</a>
  </div>
</div>

<!-- Модальне вікно (Contacts) - запуск з кнопки Send -->

<div class="backdrop is-hidden" data-modal>
  <div class="modal-window contacts">
    <button class="modal-close-button" type="button" data-modal-close>
      <svg class="close-icon" width="40" height="40">
        <use href="../images/icons.svg#icon-modal-close-cross"></use>
      </svg>
    </button>
    <p class="modal-text contacts">
      Thank you for your message! We will contact you soon!
    </p>
    <a class="redirect-link" href="../index.html">Ok</a>
  </div>
</div>
