<section class="section">
    <div class="sale container">
        <h2 class="sale__title">Sale</h2>

        <div class="sale__decorlines">
            <div class="sale__upper-line">
                <div class="upper-line__first-line">
                </div>
                <div class="upper-line__second-line"></div>
            </div>
            <div class="sale__lower-line">
                <div class="lower-line__first-line">
                </div>
                <div class="lower-line__second-line"></div>
            </div>
        </div>
        <ul class="sale-card__list">
            <li class="sale-card__item">
                <a class="sale-card__link link" href="">
                    <picture>
                        <source srcset="./images/sales/sales-icon-1-1x.webp 1x, ./images/sales/sales-icon-1-2x.webp 2x"
                            type="image/webp">
                        <source srcset="./images/sales/sales-icon-1-1x.jpg 1x, ./images/sales/sales-icon-1-2x.jpg 2x"
                            type="image/jpg">

                        <img src="./images/sales/sales-icon-1-1x.jpg" alt="">
                    </picture>
                    <p class="sale-card__name">Xiberia K9 PRO PC Headset</p>
                    <div class="sale-card__price">
                        <p class="sale__old-price">65.14 USD</p>
                        <p class="sale__new-price">55.14 USD</p>
                    </div>
                </a>
            </li>
            <li class="sale-card__item">
                <a class="sale-card__link link" href="">
                    <picture>
                        <source srcset="./images/sales/sales-icon-2-1x.webp 1x, ./images/sales/sales-icon-2-2x.webp 2x"
                            type="image/webp">
                        <source srcset="./images/sales/sales-icon-2-1x.jpg 1x, ./images/sales/sales-icon-2-2x.jpg 2x"
                            type="image/jpg">

                        <img src="./images/sales/sales-icon-2-1x.jpg" alt="">
                    </picture>
                    <p class="sale-card__name">G95 Light Surround Gaming Headset</p>
                    <div class="sale-card__price">
                        <p class="sale__old-price">72.78 USD</p>
                        <p class="sale__new-price">51.78 USD</p>
                    </div>
                </a>
            </li>
            <li class="sale-card__item">
                <a class="sale-card__link link" href="">
                    <picture>
                        <source srcset="./images/sales/sales-icon-3-1x.webp 1x, ./images/sales/sales-icon-3-2x.webp 2x"
                            type="image/webp">
                        <source srcset="./images/sales/sales-icon-3-1x.jpg 1x, ./images/sales/sales-icon-3-2x.jpg 2x"
                            type="image/jpg">

                        <img src="./images/sales/sales-icon-3-1x.jpg" alt="">
                    </picture>
                    <p class="sale-card__name">G95 Light Surround Gaming Headset</p>
                    <div class="sale-card__price">
                        <p class="sale__old-price">78.98 USD</p>
                        <p class="sale__new-price">50.98 USD</p>
                    </div>
                </a>
            </li>
            <li class="sale-card__item">
                <a class="sale-card__link link" href="">
                    <picture>
                        <source srcset="./images/sales/sales-icon-4-1x.webp 1x, ./images/sales/sales-icon-4-2x.webp 2x"
                            type="image/webp">
                        <source srcset="./images/sales/sales-icon-4-1x.jpg 1x, ./images/sales/sales-icon-4-2x.jpg 2x"
                            type="image/jpg">

                        <img src="./images/sales/sales-icon-4-1x.jpg" alt="">
                    </picture>
                    <p class="sale-card__name">Logitech G230 Stereo Gaming Headset</p>
                    <div class="sale-card__price">
                        <p class="sale__old-price">160.00 USD</p>
                        <p class="sale__new-price">110.00 USD</p>
                    </div>
                </a>
            </li>
            <li class="sale-card__item sale-card__item-tablet">
                <a class="sale-card__link link" href="">
                    <picture>
                        <source srcset="./images/sales/sales-icon-5-1x.webp 1x, ./images/sales/sales-icon-5-2x.webp 2x"
                            type="image/webp">
                        <source srcset="./images/sales/sales-icon-5-1x.jpg 1x, ./images/sales/sales-icon-5-2x.jpg 2x"
                            type="image/jpg">

                        <img src="./images/sales/sales-icon-5-1x.jpg" alt="">
                    </picture>
                    <p class="sale-card__name">RGB LED Backlit Mechanical Keyboard</p>
                    <div class="sale-card__price">
                        <p class="sale__old-price">156.00 USD</p>
                        <p class="sale__new-price">116.00 USD</p>
                    </div>
                </a>
            </li>
            <li class="sale-card__item sale-card__item-tablet">
                <a class="sale-card__link link" href="">
                    <picture>
                        <source srcset="./images/sales/sales-icon-6-1x.webp 1x, ./images/sales/sales-icon-6-2x.webp 2x"
                            type="image/webp">
                        <source srcset="./images/sales/sales-icon-6-1x.jpg 1x, ./images/sales/sales-icon-6-2x.jpg 2x"
                            type="image/jpg">

                        <img src="./images/sales/sales-icon-6-1x.jpg" alt="">
                    </picture>
                    <p class="sale-card__name">K569 RGB LED Backlit Mechanical Keyboard</p>
                    <div class="sale-card__price">
                        <p class="sale__old-price">156.98 USD</p>
                        <p class="sale__new-price">112.16 USD</p>
                    </div>
                </a>
            </li>
            <li class="sale-card__item sale-card__item-tablet">
                <a class="sale-card__link link" href="">
                    <picture>
                        <source srcset="./images/sales/sales-icon-7-1x.webp 1x, ./images/sales/sales-icon-7-2x.webp 2x"
                            type="image/webp">
                        <source srcset="./images/sales/sales-icon-7-1x.jpg 1x, ./images/sales/sales-icon-7-2x.jpg 2x"
                            type="image/jpg">

                        <img src="./images/sales/sales-icon-7-1x.jpg" alt="">
                    </picture>
                    <p class="sale-card__name">Malloom 1200 DPI 2.4Ghz Wireless Mouse</p>
                    <div class="sale-card__price">
                        <p class="sale__old-price">44.24 USD</p>
                        <p class="sale__new-price">29.93 USD</p>
                    </div>
                </a>
            </li>
            <li class="sale-card__item sale-card__item-tablet">
                <a class="sale-card__link link" href="">
                    <picture>
                        <source srcset="./images/sales/sales-icon-8-1x.webp 1x, ./images/sales/sales-icon-8-2x.webp 2x"
                            type="image/webp">
                        <source srcset="./images/sales/sales-icon-8-1x.jpg 1x, ./images/sales/sales-icon-8-2x.jpg 2x"
                            type="image/jpg">

                        <img src="./images/sales/sales-icon-8-1x.jpg" alt="">
                    </picture>
                    <p class="sale-card__name">DARSHION 3200 DPI MZ-17 Gaming Mouse
                    </p>
                    <div class="sale-card__price">
                        <p class="sale__old-price">48.00 USD</p>
                        <p class="sale__new-price">32.00 USD</p>
                    </div>
                </a>
            </li>
        </ul>
        <div class="sale__button-geometry">
            <a class="sale__button link" href="">View all</a>

        </div>
    </div>
</section>