.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: $containerPaddingSmall;

  @include media-mobile() {
    width: $mobileBreakpoint;
  }

  @include media-tablet() {
    width: $tabletBreakpoint;
  }

  @include media-desktop() {
    width: $desktopBreakpoint;
  }

  // * Для секції "All accessories" на планшеті
  // ? Можливо десь ще
  &--padding-big {
    padding-inline: $containerPaddingBig;
  }
}
