.footer {
    background-color: #001414;
    color:#FFFFFF;
    @include media-mobile() {
            height: 401px;
        }
    
        @include media-tablet() {
            height: 215px;
        }
    
}