.footer {
    background-color: #001414;
    color:#FFFFFF;
    @include media-mobile() {
            height: 401px;
        }
    
        @include media-tablet() {
            height: 215px;
        }
    
}

.footer-link {
      font-size: 16px;
      line-height: 1.18;
      text-transform: capitalize;
      color: #8D9289;
}