* {
  outline: 1px solid tomato;
}

.section-hero {
  // background-image: url('../images/hero/hero.webp');
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;

  // @media (min-device-pixel-ratio: 2),
  //   (min-resolution: 192dpi),
  //   (min-resolution: 2dppx) {
  //   background-image: url('../images/hero/hero@2x.webp');
  // }

  // // * if no webp support in browser, load jpg. Check by checkWebpSupport.js
  // body.no-webp & {
  //   background-image: url('../images/hero/hero.jpg');

  //   @media (min-device-pixel-ratio: 2),
  //     (min-resolution: 192dpi),
  //     (min-resolution: 2dppx) {
  //     background-image: url('../images/hero/hero@2x.jpg');
  //   }
  // }
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 600px;
  padding-top: 278px;

  @media screen and (max-width: 767px) {
    align-items: center;
  }

  @include media-tablet() {
    height: 860px;
    padding-top: 290px;

    // background-position: calc(100% + 130px) -30px;
    background-position: center;
    background-size: contain;
    gap: 94px;
  }

  @include media-desktop() {
    padding-top: 316px;
    padding-left: 102px;
  }
}

.hero-title {
  width: 247px;

  @include font(500, 32px, 1.18);
  color: #ffffff;

  @media screen and (max-width: 479px) {
    max-width: 75vw;
    padding-inline: calc(5vmin);

    font-size: calc(1.25vmin * 5);
  }

  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @include media-tablet() {
    width: 388px;

    font-size: 56px;
  }

  @include media-desktop() {
    width: 436px;

    font-size: 64px;
  }
}
