
/* Линии на бордере */

.line {
  margin-bottom: 24px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 56px;
  }
}

.line_first {
  margin-bottom: -5px;
}

.line_first,
.line_second {
  display: flex;
  flex-wrap: nowrap;
}

.line-one {
  width: 40%;
  height: 8px;
  border-bottom: 1px solid #7be34a;
  border-right: 1px solid #7be34a;
  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);

  @media screen and (min-width: 768px) {
    width: 53%;
  }

  @media screen and (min-width: 1280px) {
    width: 30%;
  }
}

.line-two {
  width: 60%;
  height: 8px;
  border-top: 1px solid #7be34a;
  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);

  @media screen and (min-width: 768px) {
    width: 47%;
  }

  @media screen and (min-width: 1280px) {
    width: 70%;
  }
}

.line-three {
  width: 41%;
  height: 7px;
  border-bottom: 1px solid #28780d;
  border-right: 1px solid #28780d;
  box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);

  @media screen and (min-width: 768px) {
    width: calc(53% + 3px);
  }

  @media screen and (min-width: 1280px) {
    width: calc(30% + 3px);
  }
}

.line-four {
  width: 59%;
  height: 7px;
  border-top: 1px solid #28780d;
  box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);

  @media screen and (min-width: 768px) {
    width: calc(47% - 3px);
  }

  @media screen and (min-width: 1280px) {
    width: calc(70% - 3px);
  }
}
/* Конец линиям */