// Це головний файл, що робить імпорти у цій папці

@import 'container';
@import 'footer';
@import 'header';
@import 'hero';
@import 'banner'; // Банер на головній сторінці
@import 'lines';
@import 'buttons'

